%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "/"} Funny VIDEO
  %button.navbar-toggler{"aria-controls" => "navbarText", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarText", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarText.collapse.navbar-collapse.justify-content-between
    %ul.navbar-nav.mr-auto
      - if current_user
        %li.nav-item
          %a.nav-link{:href => "/videos/myshare"} My Shared
    %ul.navbar-nav.mr-auto
      - if current_user
        %li.nav-item
          %a.nav-link{:href => "/videos/myshare"}=current_user.username
        %li.nav-item
          %a.nav-link{:href => "/signout"} Logout
      - else 
        %li.nav-item
          %a.nav-link{:href => "/signin"} Login
        %li.nav-item
          %a.nav-link{:href => "/signup"} Register